/* Variables */

:root {
  --main-color: #0065FC;
  --main-bg-color: #F2F2F2;
  --filter-bg-color: #DEEBFF;
}

/* Reset ua styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fonts */

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Bold.woff2') format('woff2'),
      url('fonts/Raleway-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Regular.woff2') format('woff2'),
      url('/fonts/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* Base */

/* Large desktop */
html {
  font-size: 62.5%;
}


/* Desktop */
@media (1024px < width <= 1440px) {
  html {
    font-size: calc(100vw / 1440 * 10);
  }
}




body {
  font-family: "Raleway";
	line-height: 1;
  font-size: 1.6rem;
  max-inline-size: 1440px;
  min-inline-size: 320px;
  margin-inline: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

input[type="search"] {
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

/* Header */
.navigation{
  display: flex;
  padding-inline: 5rem;
  padding-block-start: 3rem;
  padding-block-end: 6rem;
  justify-content: space-between;
  align-items: center;
}
.navigation__link{
  font-size: 0;
  transition: opacity 0.2s ease;
  width: 6.1rem;
  height: 1.9rem;
}
.navigation__link:hover {
  opacity: 0.5;
}
.navigation__list{
  display: flex;
  gap: 5.5rem;
}

.navigation__list__link{
  position: relative;
  transition: color 0.2s ease;
}
.navigation__list__link:hover{
  color: var(--main-color);
}
.navigation__list__link::before {
  width: 100%;
  height: 2px;
  content: '';
  background-color: var(--main-color);
  position: absolute;
  top: -3rem;
  width: 0;
  transition: width 0.5s ease;
}
.navigation__list__link:hover::before {
  width: 100%;
}


.app{
  padding-inline: 5rem;
}
.article{
  display: grid;
  gap: 1rem;
  margin-block-end: 3.5rem;
}
.article__title{
  font-size: 2.2rem;
  font-weight: bold;
}

.home__search{
  display: flex;
  height: 5rem;
}

.home__search__icon {
  width: 1.4rem;
  height: 1.8rem;
  padding-inline: 1.8rem;
  padding-block: 1.6rem;
  background-color: var(--main-bg-color);
  border-radius: 15px 0 0 15px;
}

.home__search :is(input) {
  border-top: 2px solid var(--main-bg-color);
  border-bottom: 2px solid var(--main-bg-color);
  padding-inline-start: 2.4rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  text-align: center;
  width: 19.1rem;
}

input[type="search"]::placeholder {
  color: black;
  text-align: center;
}

.home__search__button {
  all: unset;
  cursor: pointer;
  color: white;
  padding-inline: 1.6rem;
  padding-block: 1.4rem;
  background-color: var(--main-color);
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 0 15px 15px 0;
}

.home__filter{
  margin-block: 3.5rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.home__filter :is(input[type="checkbox"]){
  appearance: none;
}
.home__filter__label{
  font-size: 1.8rem;
  font-weight: bold;
}
.home__filter__wrapper{
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  gap: 2rem;
}



.home__filter__item{
  display: flex;
  cursor: pointer;
  position: relative;
  align-items: center;
  gap: 1rem;
  padding-inline: 1.9rem;
  padding-block: 1.4rem;
}

.home__filter__item :is(svg, label) {
  pointer-events: none;
  z-index: 1;
}

.home__filter__item>input{
  border: 2px solid var(--main-bg-color);
  cursor: pointer;
  background-color: white;
  border-radius: 25px;
  height: 100%;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
  transition: all 0.2s ease;
}

.home__filter__item>input:checked {
  background-color: var(--filter-bg-color);
}

.home__description{
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-block-end: 3.5rem;
}
.home__description__icon{
  width: 2.4rem;
  height: 2.4rem;
}

.home{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4rem;
}

/* Houses */


.home__gallery{
  display: grid;
  background-color: var(--main-bg-color);
  border-radius: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto 20.7rem 20.7rem auto;
  gap: 3rem;
  padding: 3rem;
}
.home__gallery__title{
  grid-area: 1 / 1 / 2 / 4;
  font-size: 2.2rem;
  font-weight: bold;
}
.home__gallery__link{
  background-color: white;
  padding-inline: 0.6rem;
  padding-block-start: 0.6rem;
  border-radius: calc(20px + 0.6rem);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);

}

.home__gallery__link :is(svg) {

  margin-inline-start: 1rem;
  margin-block-start: 1rem;
}

.home__gallery__media{
  width: 100%;
  height: 12.4rem;
}
.home__gallery__image{
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: calc(100% - 1rem);
  top: 0;
  left: 0;
  object-fit: cover;
}
.home__gallery__label{
  font-weight: bold;
  margin-inline-start: 1rem;
  margin-block-start: 0.6rem;
}
.home__gallery__price{
  margin-block-start: 2.5rem;
  margin-inline-start: 1rem;
  font-size: 1.4rem;
}
.home__gallery__price :is(span) {
  font-weight: bold;
}
.gallery__link{
  font-weight: bold;
  font-size: 1.8rem;
}
.home__highlight{
  border-radius: 15px;
  background-color: var(--main-bg-color);
  display: grid;
  gap: 3rem;
  padding: 3rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
}
.home__highlight__title{
  display: flex;
  justify-content: space-between;
  font-size: 2.2rem;
  font-weight: bold;
}
.home__highlight__link{
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
  display: grid;

  grid-template-columns: fit-content(12.3rem) auto;
  grid-template-rows: auto auto 1fr;
  background-color: white;
  border-radius: calc(20px + 0.6rem) ;

  column-gap: 1.5rem;
  row-gap: 0.5rem;
}

.home__highlight__link :is(svg) {
  align-self: flex-end;
  width: 6.8rem;
  height: 1.2rem;
  margin-block-end: 1rem;
}

.home__highlight__media{
  grid-area: 1 / 1 / 4 / 2;
  width: 11.9rem;
  border: 0.6rem solid white;
  border-radius: calc(20px + 0.6rem);
  position: relative;
}
.home__highlight__image{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 20px 0 0 20px;
  left: 0;
  object-fit: cover;
}
.home__highlight__label{
  font-weight: bold;
  max-inline-size: 22.6rem;
  margin-block-start: 1.5rem;
}
.home__highlight__price{
  font-size: 1.4rem;
}

.home__highlight__price>span{
  font-weight: bold;
}

/* Activity */

.activity {
  margin-block-start: 6.5rem;
  padding-inline: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.activity__title{
  grid-area: 1 / 1 / 2 / 5;
  font-size: 2.2rem;
  font-weight: bold;
}
.activity__link{
  width: 100%;
  height: 43.9rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}
.activity__media{
  width: 100%;
  height: calc(100% - 5.9rem);
}
.activity__media__image{
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.activity__media__label{
  font-weight: bold;
  margin-block-start: 2rem;
  margin-inline-start: 1.9rem;
}



.footer{
  margin-block-start: 6.5rem;
  max-inline-size: 134rem;
  margin-inline: auto;
  background-color: var(--main-bg-color);
}
.footer__navigation{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7rem;
  padding-block: 3.5rem;
  padding-inline: 2.4rem;
}

.footer__navigation__label{
  font-size: 1.8rem;
  font-weight: bold;
  margin-block-end: 1.5rem;
}
.footer__navigation__list{
  display: grid;
  gap: 1.5rem;
}

/* Tablet */
@media (768px <= width <= 1024px) {
  html {
    font-size: calc(100vw / 1024 * 10);
  }
  .home__filter{
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .home{
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .home__highlight {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    gap: 2rem;
  }

  .home__highlight__link {
    column-gap: 0;
  }
  .home__highlight__title {
    grid-area: 1 / 1 / 2 / 4;
  }

  .home__highlight__media{
    width: 9.1rem;
    height: 14.6rem;
  }

  .activity__link {
    height: 27rem;
  }

  .activity__link:nth-of-type(3) :is( .activity__media__label ){
    margin-block-start: 1rem;
  }
  .activity__link:nth-of-type(4) :is( .activity__media__label ){
    margin-block-start: 1rem;
  }
}


/* Mobile */
@media (width < 768px) {
  html {
    font-size: calc(100vw / 375 * 10);
  }

  .navigation{
    flex-direction: column;
    padding-inline: 0;
    gap: 3rem;
  }

  .navigation__list {
    width: 100%;
    justify-content: space-between;
    gap: 0;
  }

  .navigation__list__link {
    padding-inline: 4rem;
  }

  .navigation__list__link::before {
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
  }

  .navigation__list__item:first-child {
    color: var(--main-color);
  }
  .navigation__list__item:first-child>.navigation__list__link::before {
    width: calc(100% + 2rem);
  }

  .app{
    padding-inline: 2rem;
  }
  .article{
    display: grid;
    gap: 1rem;
    margin-block-end: 3.5rem;
  }
  .article__title{
    font-size: 2.2rem;
    font-weight: bold;
  }

}
